*{
  margin: 0;
  padding: 0;
}

.mainBg{
  background-color: #131313;
  height: 100vh;
  width: 100vw;
  color: blanchedalmond;
  font-family: fantasy;
}

.mainView{
  background-color: #a9a9a9;
  border-radius: 25px;
  box-shadow: inset;
  height: 80vh;
  width: 80vw;
  margin: auto;
  margin-top: 10vh;
  box-shadow: 0 0 25px white;
}